<!-- <app-pricing></app-pricing> -->

<!-- <div class="container">
    <app-login>
        <h1 class="text-muted">This is what h1 is .</h1>
    </app-login>
</div> -->

<!-- <div class="container">
    <app-jumbo></app-jumbo>
</div> -->

<!-- <div class="container">
    <div class="row">
        <app-lifecycle *ngIf="isTgl" [tms]="tm"></app-lifecycle>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="button" value="Okay" class="btn btn-primary" (click)="isTgl = !isTgl">
            <input type="button" value="TMS" class="btn btn-info" (click)="tmsDt()  ">
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <app-directives></app-directives>
</div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-service></app-service>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-service></app-service>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="jumbotron">
        <app-progress></app-progress>
    </div>
    <app-btn-panel></app-btn-panel>
</div>