<!-- Sidebar Holder -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Header as you want </h3>
  </div>
  <ul class="list-unstyled components">
    <p>Dummy Heading</p>
    <li class="active">
      <a [routerLink]="['india']">India</a>
    </li>
    <li>
      <a [routerLink]="['america']">America</a>
    </li>
    <li>
      <a href="#menu">Japan</a>
    </li>
    <li>
      <a href="#">Sri Lanka</a>
    </li>
    <li>
      <a href="#">United Kingdom</a>
    </li>
    <li>
      <a href="#">Austrelia</a>
    </li>
  </ul>
</nav>