<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" (click)="onBtn(1)">Primary</button>
    <button type="button" class="btn btn-secondary" (click)="onBtn(2)">Secondary</button>
    <button type="button" class="btn btn-success" (click)="onBtn(3)">Success</button>
    <button type="button" class="btn btn-danger" (click)="onBtn(4)">Danger</button>
    <button type="button" class="btn btn-warning" (click)="onBtn(5)">Warning</button>
    <button type="button" class="btn btn-info" (click)="onBtn(6)">Info</button>
    <button type="button" class="btn btn-light" (click)="onBtn(7)">Light</button>
    <button type="button" class="btn btn-dark" (click)="onBtn(8)">Dark</button>
    <button type="button" class="btn btn-link" (click)="onBtn(9)">Link</button>
  </div>
</div>