<div class="row">
    <h2>Template Driven Form</h2>
</div>
<form (ngSubmit)="frmSub(frm)" #frm="ngForm">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group form-group-sm">
                <label for="firstname" class="control-label">Name</label>
                <input type="text" name="nm" class="form-control" placeholder="Name" ngModel>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="lastname" class="control-label">Email</label>
                <input type="text" name ="eml" class="form-control" placeholder="Email" ngModel>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="lastname" class="control-label">Mobile</label>
                <input type="text" name="mbl" class="form-control" placeholder="Mobile" ngModel>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>